html,
body {
  height: auto !important;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

#container {
  height: 100%;
  min-height: 100%;
  padding-bottom: 55px;
  position: relative;
}

#footer {
  background: $grey;
  bottom: 0;
  padding: $spacing;
  position: absolute;
  width: 100%;
}

.color-blue {
  color: $blue;
}
