.table-container {
  position: relative;
}

table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;

  tr {

    th,
    td {
      max-width: 300px;
      min-width: 75px;
      overflow: hidden;
      padding: 3px 5px;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

tr {

  &.clickable {
    cursor: pointer;

    &:hover {
      background: lighten($purple, 25%);
    }
  }
}
