$green: #2ecc71;
$blue: #3498db;
$purple: #9b59b6;
$orange: #e67e22;
$red: #e74c3c;
$black: #09050A;
$transBlack: rgba(0, 0, 0, 0.5);
$white: #fffffe;

$font-small: 12px;
$font-standard: 14px;
$font-large: 18px;
