<div class="idea">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Major</th>
        <th>Credit Hours</th>
      </tr>
    </thead>
    <tbody>
      <tr class="clickable" ng-repeat="(key, student) in table.students" ng-click="App.toggleStarStudent(student)">
        <td>{{student.$id}}</td>
        <td>{{ student.lastName }}, {{ student.firstName }}</td>
        <td>{{ student.major }}</td>
        <td>{{ student.creditHours }}</td>
      </tr>
      <tr>
        <td>
          <a href="#" ng-click="App.toggleNewStudentModal()">+ Add</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
